header {
  background-color: #3c443d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  text-decoration: none;
  color: #dfeecd;
  font-family: "Fraunces", serif;
}

body {
  background-color: #79a389;
  color: #dfeecd;
  font-family: "Instrument Sans", sans-serif;
  text-align: center;
  list-style-position: inside;
  margin-top: 80px;
}

h1 {
  font-family: "Fraunces";
  font-size: 60px;
  color: #6d6852;
}

/* Create a css rule for <section> to add padding between each one -Added 40px padding to 'section' */
section {
  padding: 40px;
}

h2 {
  color: #3c443d;
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

p {
  margin: 0px;
}

#dog {
  padding-top: 15px;
}

/* Create a Css rule for one of you sections such as Experience to align it 
to something other than center.  - I have aligned text in #cv ul to the left

Each list item within the "Experience" section could be styled more distinctively, for instance, 
with borders, background color, and padding to define them as blocks. -I have adjusted the list items with alternating background colors + padding */
#cv {
  display: flex;
}

#cv ul {
  flex: 1;
  list-style-type: none;
  text-align: left;
  padding-inline-start: 0px;
}

#dates li {
  background-color: #9fd3b3;
  color: #3c443d;
  font-size: 15px;
  padding: 12.5px;
}

#may {
  margin-bottom: 23.5px;
  margin-top: 5px;
}

#feb {
  margin-bottom: 23.5px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  flex: 1;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.title {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 0px;
  margin-top: 5px;
  background-color: #9fd3b3;
  color: #3c443d;
  padding: 10px;
}

.desc {
  font-size: 15px;
}
