html {
  font-size: 16px;
}

header {
  background-color: #3c443d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.125em;
  display: flex;
  align-items: center;
  justify-content: center;
}

header * {
  display: inline;
}

header li {
  margin: 1.25em;
}

header li a {
  text-decoration: none;
  color: #dfeecd;
  font-family: "Fraunces", serif;
  font-size: 1.25rem;
}

body {
  background-color: #79a389;
  color: #dfeecd;
  font-family: "Instrument Sans", sans-serif;
  text-align: center;
  list-style-position: inside;
  margin-top: 5em;
}

h1 {
  font-family: "Fraunces";
  font-size: 3.75rem;
  color: #6d6852;
}

section {
  padding: 2.5em;
}

h2 {
  color: #3c443d;
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
  margin: auto;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
}

p {
  margin: 0px;
}

#dog {
  padding-top: 0.937em;
  max-width: 100%;
  height: auto;
}

#cv {
  justify-items: center;
}

#exp-1 {
  display: grid;
  grid-template-columns: 37.5em 37.5em;
  grid-template-rows: 2.5em 2.5em;
}

#exp-2 {
  display: grid;
  grid-template-columns: 37.5em 37.5em;
  grid-template-rows: 2.5em 2.5em;
}

#exp-3 {
  display: grid;
  grid-template-columns: 37.5em 37.5em;
  grid-template-rows: 2.5em 2.5em;
}

#cv ul {
  list-style-type: none;
  text-align: left;
}

#title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0px;
  background-color: #9fd3b3;
  color: #3c443d;
  padding-top: 0.5rem;
  padding-left: 0.3125rem;
}

#desc {
  font-size: 1rem;
}

#dates {
  background-color: #9fd3b3;
  color: #3c443d;
  font-size: 1rem;
  padding-top: 0.625em;
  padding-left: 12.5em;
}

#Skills,
#Projects {
  justify-items: center;
}

#Skills ul {
  display: flex;
  flex-direction: column;
  list-style-type: "🪻";
  text-align: left;
  font-size: 1.5rem;
  padding-left: 0px;
}

#Skills li,
#Projects li {
  padding: 0.3em;
}

#Projects ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  font-size: 1.5rem;
}

#Projects a {
  color: #3c443d;
  font-weight: bold;
  text-decoration: none;
}

#Projects a:visited {
  color: #dfeecd;
}

#Projects a:hover {
  color: #9fd3b3;
}

#form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  text-align: left;
  width: 80%;
}

label {
  font-size: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border: 0.15em solid #3c443d;
  border-radius: 0.3em;
}

input:hover,
textarea:hover {
  background-color: #dfeecd;
}

#sub {
  background-color: #3c443d;
  color: #dfeecd;
  font-family: "Fraunces", serif;
  font-weight: bold;
  width: 30%;
  height: 3em;
  border: none;
  border-radius: 0.3em;
}
#sub:hover {
  background-color: #dfeecd;
  color: #3c443d;
}

#messages {
  justify-items: center;
}

#messages ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  font-size: 1.2rem;
  padding-left: 0px;
}

#messages ul li {
  padding: 0.3em;
}

#messages button {
  background-color: #3c443d;
  color: #dfeecd;
  font-family: "Fraunces", serif;
  font-weight: bold;
  border: none;
  border-radius: 0.3em;
  font-size: 0.7em;
  margin-left: 1rem;
  padding: 0.5rem;
}

#messages button:hover {
  background-color: #dfeecd;
  color: #3c443d;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  flex: 1;
  width: 3.125em;
  height: 3.125em;
  margin: 0.625em;
}

/*for mobile */
@media (max-width: 767px) {
  header {
    position: absolute;
  }

  header li {
    margin: 0.6em;
  }

  header li a {
    font-size: 0.85rem;
  }

  h2 {
    font-size: 3rem;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
  }

  #exp-1 {
    grid-template-columns: 16em 15em;
    grid-template-rows: 4em 4em;
  }

  #exp-2 {
    grid-template-columns: 16em 15em;
    grid-template-rows: 4em 4em;
  }

  #exp-3 {
    grid-template-columns: 16em 15em;
    grid-template-rows: 4em 4em;
  }

  #title {
    font-size: 1rem;
    padding-top: 1rem;
  }

  #desc {
    font-size: 0.9rem;
  }

  #dates {
    font-size: 1rem;
    padding-top: 1.1em;
    padding-left: 0em;
    padding-right: 1em;
    text-align: right;
  }

  #Skills ul {
    font-size: 1.5rem;
  }

  #icon {
    margin-left: 3em;
    margin-right: 3em;
  }

  label {
    font-size: 1.5rem;
  }
  input {
    height: 2em;
  }

  textarea {
    height: 4em;
  }

  #sub {
    font-size: 1.4em;
    height: 4em;
  }

  #messages ul {
    font-size: 2em;
  }

  #messages button {
    margin-left: 2rem;
  }
}

/* for tablet */
@media (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 3.5rem;
    color: #3e3a2b;
  }

  #exp-1 {
    grid-template-columns: 21em 20em;
    grid-template-rows: 5em 5em;
  }

  #exp-2 {
    grid-template-columns: 21em 20em;
    grid-template-rows: 5em 5em;
  }

  #exp-3 {
    grid-template-columns: 21em 20em;
    grid-template-rows: 5em 5em;
  }

  #title {
    font-size: 1.1rem;
    padding-top: 1.2rem;
  }

  #desc {
    font-size: 1rem;
  }

  #dates {
    font-size: 1.1rem;
    padding-top: 1.1em;
    padding-left: 0em;
    padding-right: 1em;
    text-align: right;
  }

  #Skills ul {
    font-size: 1.5rem;
  }

  label {
    font-size: 2rem;
  }
  input {
    height: 3em;
  }

  textarea {
    height: 6em;
  }

  #sub {
    font-size: 1.9em;
    height: 3em;
  }

  #messages ul {
    font-size: 2em;
  }

  #messages button {
    margin-left: 2rem;
  }

  #icon {
    width: 4em;
    height: 4em;
    margin-left: 3em;
    margin-right: 3em;
  }
}
